body{
    font: 15px/1.5 "Trebuchet MS", sans-serif;
    padding: 0;
    margin: 0;
    background: #ffffff;
}

/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: visible;
    float: center;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.dark{
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px; 
}

/* Header */
header{
    background: #ffa500;
    color: #000000;
    padding-top: 20px;
    min-height: 65px;
    border-bottom: #9e9fae;
}

header a{
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 0px;
}

  li {
    color: #fff;
    background: #ffa500;
    display: block;
    float: left;
    padding: 10px 20px;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
    
  li a {
    color: #fff;
  }
  
  li:hover,
  li:focus-within {
      background: red;
      cursor: pointer;
  }
  
  li:focus-within a {
    outline: none;
  }
  
  ul li ul {
      background: orange;
      visibility: hidden;
    opacity: 0;
    min-width: 5rem;
      position: absolute;
    transition: all 0.5s ease;
    margin-top: 10px;
      left: 0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
     visibility: visible;
     opacity: 1;
     display: block;
  }
  
  ul li ul li {
      clear: both;
    width: 100%;
  }

header .current a{
    color: #ffffff;
    font-weight: bold;
}

#showcase{
    min-height: 300px;
    background:url('./showcase.jpg') no-repeat; 
    background-position: center;
    text-align: center;
    color: #000000;
}

/*Boxes*/

#boxes{
    margin-top: 25px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width:90 px;
}

/* Sidebar */
aside#sidebar{
    float: right;
    width: 45%;
    margin-top: 10px;
}

aside#sidebar b{
    list-style-type: none;
}

/* Main-col */
article#main-col{
    float: left;
    width: 50%;
}

/* Footer */
footer{
    background: #09097f;
    color: #ffffff;
    padding-top: 20px;
    min-height: 65px;
    border-bottom: #9e9fae;
}

footer a{
    background: #ffa500;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

footer li{
    /* float: left; */
    display: inline;
    padding: 0 15px 0 15px;

}

footer nav{
    float: right;
    margin-top: 10px;
}

/* About Us Boxes */

.column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 8px 8px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }

/* Media Queries */
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #boxes .box,
    footer nav,
    footer nav li {
        float: none;
        text-align: center;
        width: 100%;
    }

    header{
        padding-bottom: 20px;
    }

    #showcase h1{
        margin-top: 40px;
    }
}
